[build-system]
requires = ["setuptools>=61.0.0", "setuptools-scm>=8.0"]
build-backend = "setuptools.build_meta"

[project]
classifiers = [
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "License :: OSI Approved :: Apache Software License",
]
name = "nomad-utility-workflows"
description = "A module with utilities for interacting with NOMAD via, e.g., a workflow manager."
dynamic = ["version"]
readme = "README.md"
requires-python = ">=3.9"
authors = [
    { name = "Joseph F. Rudzinski", email = "joseph.rudzinski@physik.hu-berlin.de" },
]
maintainers = [
    { name = "Joseph F. Rudzinski", email = "joseph.rudzinski@physik.hu-berlin.de" },
]
license = { file = "LICENSE" }
dependencies = [
    "nomad-lab>=1.3.6.dev1",
    "python-magic-bin; sys_platform == 'win32'",
    "nomad-schema-plugin-simulation-workflow>=1.0.6",
    "networkx",
    "numpy>=1.25.0,<2.0.0",
    "regex",
    "pymbar>=4.0.1",
    "jupyter>=1.0.0",
    "jupyterlab",
    "h5py",
    "confuse",
    "python-decouple",
    "marshmallow-dataclass>=8.6.0",
    "cachetools>=5.3.2",
    "isort>=5.8.0",
    "insane>=1.2.0",
    "anyio>=3.0.0,<4.0",
    "gravis>=0.1.0",
    "pydantic==1.10.18"
]

[project.urls]
Repository = "https://github.com/FAIRmat-NFDI/nomad-utility-workflows"

[project.optional-dependencies]
dev = ["ruff", "pytest", "structlog"]

[tool.ruff]
# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
]

# Same as Black.
line-length = 88
indent-width = 4


[tool.ruff.lint]
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # isort
    "I",
    # pylint
    "PL",
]

ignore = [
    "F403", # 'from module import *' used; unable to detect undefined names
]

fixable = ["ALL"]

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

# this is entirely optional, you can remove this if you wish to
[tool.ruff.format]
# use single quotes for strings.
quote-style = "single"

# indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

[tool.setuptools]
package-dir = { "" = "src" }

[tool.setuptools_scm]

[tool.setuptools.packages.find]
where = ["src"]

[project.entry-points.'nomad.plugin']
parser_entry_point = "nomad_utility_workflows.parsers:parser_entry_point"
schema_package_entry_point = "nomad_utility_workflows.schema_packages:schema_package_entry_point"
normalizer_entry_point = "nomad_utility_workflows.normalizers:normalizer_entry_point"
app_entry_point = "nomad_utility_workflows.apps:app_entry_point"
example_upload_entry_point = "nomad_utility_workflows.example_uploads:example_upload_entry_point"
[tool.cruft]
# Avoid updating workflow files, this leads to permissions issues
skip = [".github/*"]
