.info { margin-left: 5pt; color: #555; }
.ql-toolbar.ql-4tu, .texteditor { width: 852pt !important; }
.texteditor { border-radius: 0em 0em .5em .5em !important; border-top: none !important; }
#description { height: 500px !important; }
