[build-system]
build-backend = "pdm.backend"
requires = [
    "pdm-backend",
]

[project]
authors = [
    { email = "louismmx@gmail.com", name = "Louis Maddox" },
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python",
]
dependencies = [
    "cliptargets>=0.1.2",
]
description = "Paste data as Python DataFrame definitions"
name = "datapasta"
readme = "README.md"
requires-python = ">=3.10"
version = "1.0.0"

[project.license]
text = "MIT"

[project.optional-dependencies]
dev = [
    "pdm-bump>=0.9.10",
    "pdm>=2.22.3",
    "pre-commit>=4.1.0",
    "pytest>=8.3.4",
]
docs = [
    "livereload>=2.7.1",
    "mkdocs-extra-sass-mathshim>=0.1.0",
    "mkdocs-material[recommended,imaging]>=9.5.2",
    "mkdocs-section-index>=0.3.8",
    "mkdocs>=1.5.3",
    "mkdocstrings[python]>=0.24.0",
    "ruff>=0.9.5",
    "urllib3<2",
]
pandas = [
    "pandas>=2.2.3",
]
polars = [
    "polars>=1.21.0",
]
polars-lts-cpu = [
    "polars-lts-cpu>=1.21.0",
]
pyperclip = [
    "pyperclip",
]

[project.scripts]
datapasta = "datapasta.main:main"

[project.urls]
"Bug Tracker" = "https://github.com/lmmx/datapasta/issues"
Homepage = "https://github.com/lmmx/datapasta"

[tool.ruff.lint]
ignore = [
    "C408",
    "C901",
    "E501",
    "E722",
    "E741",
]
select = [
    "C",
    "D",
    "E",
    "F",
    "I",
    "UP",
    "W",
]

[tool.tomlsort]
all = true
in_place = true
spaces_before_inline_comment = 2
spaces_indent_inline_array = 4
trailing_comma_inline_array = true
