/* CSS for CMI5XBlock */

.openedx_cmi5_xblock_block .count {
    font-weight: bold;
}

.openedx_cmi5_xblock_block p {
    cursor: pointer;
}

.cmi5-column {
    float: left;
}

.cmi5-nav {
    width: 25%;
}

.cmi5-content {
    width: 75%;    
}

.cmi5-content iframe {
    border: 0;
}