[Database]
# type : mysql, pgsql ou sqlite
#type=pgsql
#username=desmontils-e
#password=
#host=localhost
#port=5432
#database=cours
type=sqlite
database=em.db

[LRS]
endpoint=http://local.veracity.it/querycraft/xapi/
username=toto
password=toto

[Autre]
debug=False
verbose=False
